* {
    box-sizing: border-box;
}

/*Link to matrix imported font*/
@font-face {
    font-family: 'matrix';
    src: url('../fonts/matrix-webfont.woff2') format('woff2'),
        url('../fonts/matrix-webfont.woff') format('woff'),
        url('../fonts/matrix-webfont.ttf') format('truetype'),
        url('../fonts/matrix-webfont.svg#matrixmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


#overlay-home {
    background: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    color: white;
    z-index: 2;
    padding-top: 1px;
}


#overlay-how-to-play,
#overlay-leader-board,
#game-container {
    display: none;
    width: 99%;
    margin: 50% auto;
    background: #e4d105;
    color: #000;

}

#game-container {
    position: absolute;
    top: 0;
    background: black;
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

#game-level {
    width: 80%;
    margin: 10px auto;
    border: solid 2px white;
}