* {
    box-sizing: border-box;
}

/*Colour Variables*/
:root {
    --white: rgb(253, 252, 247);
    --black: rgb(10, 14, 25);
    --accent: rgb(75, 233, 251);
    --mid-blue: rgb(63, 161, 191);
    --deep-blue: rgb(19, 49, 58);
}



/*Link to matrix imported font*/
@font-face {
    font-family: 'matrix';
    src: url('../fonts/matrix-webfont.woff2') format('woff2'),
        url('../fonts/matrix-webfont.woff') format('woff'),
        url('../fonts/matrix-webfont.ttf') format('truetype'),
        url('../fonts/matrix-webfont.svg#matrixmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/********************************
GENERAL STYLING
*********************************/
body {
    font: 1em/1.5 fira-code, sans-serif;
    background: url(../images/bg-matrix.webp), no-repeat;
    background-size: cover;
    color: var(--white);
}


img {
    width: 100%;
}

h1,
#matrix-quiz,
#quiz {
    font-family: "matrix", cursive, sans-serif;
}

button,
input {
    display: block;
    font-weight: bold;
    cursor: pointer;
    padding: 0.600rem 0.750rem 0.450rem;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

main {
    width: 99%;
    height: 98%;

}

ul,
ol {

    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.align-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.posRel {
    position: relative;
}

.posAbso {
    position: absolute;
}

.width-mobile {
    width: 99%;
}

/*****HOME LANDING OVERLAY********/

#overlay-home {
    height: 100vh;
    width: 100vw;
    top: 0;
    padding-top: 1px;
}

#welcome-matrix-quiz,
#quiz {
    background: rgba(10, 14, 25, 0.6);
    margin-top: 0.500rem;
    margin-bottom: 1.2rem;
}


.movie-poster {
    top: -26px;
}

.img-underline,
.img-underline-game {
    height: 6px;
    width: 95%;
    bottom: 3px;
    left: 7px;
    background: linear-gradient(var(--black) 35%, var(--accent));
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

#welcome-text,
#controls,
#overlay-how-to-play,
#users-score,
#overlayPlayAgain,
#alert-name {
    font-size: 0.8rem;
    background: linear-gradient(154deg, rgba(75, 233, 251, 0.6) -30%, rgba(10, 14, 25, 0.9) 24%, rgba(10, 14, 25, 0.9) 80%, rgba(75, 233, 251, 0.6));
    padding: 0.550rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-shadow: 0 1px 2px var(--accent);
    letter-spacing: 2px;
    line-height: 1.3rem;
}


#overlay-how-to-play {
    height: fit-content;
    max-width: 950px;

}

#how-to-play-head-list {

    margin-top: 10px;

}

#how-to-play-ul {
    padding-left: 30px;
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 0;
}



#how-to-play-ul li {
    margin-top: 10px;
    margin-left: 20px;

}

#welcome-text {
    margin-top: -30px;
    max-width: 700px;
}

.red-pill {
    color: #dc143c;
    text-shadow: 0 1px 2px var(--white);
    font-size: 1.2em;
}

.blue-pill {
    color: #0000ff;
    text-shadow: 0 1px 2px var(--white);
    font-size: 1.2em;
}

.btn-home {
    margin-top: 8px;
    color: var(--white);
    background: var(--black);
    border: 0.020rem solid var(--white);
    text-shadow: 0 1px 1px var(--accent);
    letter-spacing: 3px;
}

/*********Entry Overlay****************/

#controls {
    display: flex;
    flex-direction: column;
}

/*****Alert Div Input Name*********/
#alert-name {
    width: 297px;
    height: 60px;
    margin: 0 auto;
    border: solid 2px var(--white);
    border-bottom-left-radius: 0;
    background: linear-gradient(154deg, rgba(75, 233, 251, 0.8) -30%, rgba(10, 14, 25, 0.9) 24%, rgba(10, 14, 25, 0.9) 80%, rgba(75, 233, 251, 0.7));
    transform: translateY(9px);
    -webkit-transform: translateY(9px);
    -moz-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
}

#alert-name p {
    transform: translateY(-38px);
    margin: 0;
    padding: 0 0.090rem;
    width: 200px;
    -webkit-transform: translateY(-38px);
    -moz-transform: translateY(-38px);
    -ms-transform: translateY(-38px);
    -o-transform: translateY(-38px);
}

#alert-name p.red-pill {
    width: 75px;
}

#arrow-down {
    display: block;
    width: 30px;
    height: 30px;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid;
    border-top: 20px solid;
    transform: translateY(-58px) translateX(-3px) rotate(225deg);
    -webkit-transform: translateY(-58px) translateX(-3px) rotate(225deg);
    -moz-transform: translateY(-58px) translateX(-3px) rotate(225deg);
    -ms-transform: translateY(-58px) translateX(-3px) rotate(225deg);
    -o-transform: translateY(-58px) translateX(-3px) rotate(225deg);
}





input[type="text"] {
    border: 1px solid var(--accent);
    box-shadow: inset 0 0 13px 1px var(--black);
    outline: none;
    transition: border, 0.5s ease;
    -webkit-transition: border, 0.5s ease;
    -moz-transition: border, 0.5s ease;
    -ms-transition: border, 0.5s ease;
    -o-transition: border, 0.5s ease;
}


input[type="text"]:focus {
    border: 2px solid var(--white);
    box-shadow: inset 0 0 13px 1px var(--black);
    outline: none;
}

input[type="text"],
.btn-entry {
    width: 100%;
    margin: 6px 0;
    padding: 10px;
}

label[for="player-name"] {
    font-size: 1.4em;
}


.btn-entry {
    background: var(--accent);
    box-shadow: inset 0 0 13px 8px var(--black);
    border: 0.050rem solid var(--white);

}

/*********HOW TO PLAY OVERLAY****************/

#overlay-how-to-play,
#users-score,
#overlayPlayAgain {
    top: 25px;
    left: 6px;
}


#overlayPlayAgain {
    left: 2px;

}

#overlay-how-to-play,
#overlayPlayAgain {
    top: 100px;

}

#overlay-how-to-play {
    top: 90px;

}


#overlay-how-to-play,
#overlayPlayAgain {
    border: solid var(--white) 0.005rem;
    box-shadow: inset 0 0 8px 2px var(--white);
    background: linear-gradient(154deg, rgba(51, 152, 163, 087) -30%, rgba(6, 9, 16, 0.9) 24%, rgba(6, 9, 16, 0.9) 80%, rgba(51, 152, 163, 0.8));

}



#users-score {
    width: 98%;
    max-width: 750px;
    left: -3px;
    border: solid var(--black) 0.350rem;
    box-shadow: inset 0 0 18px 10px var(--black);
    background: linear-gradient(154deg, rgba(10, 14, 25, 0.8) -20%, rgba(253, 252, 247, 0.9) 28%, rgba(253, 252, 247, 0.9) 90%, rgba(10, 14, 25, 0.8));
    color: var(--black);
    text-shadow: 0 1px 2px var(--accent);
    font-size: 1.1rem;
    font-weight: bold;

}


#how-to-title {
    margin: 0.400rem 0;
    font-size: 1.7rem;
}



/****Buttons that close overlays******/
.close {
    background: var(--white);
    box-shadow: inset 0 0 8px 4px var(--black);
    width: 35px;
    height: 35px;
    border: solid var(--accent) 0.005rem;
    padding: 8px;
    margin-left: auto;
    font-size: 1.3em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/******quiz container*************/

#game-container {
    position: relative;
    margin: 10px auto;
    background: var(--white);
    color: var(--black);
    height: fit-content;
    width: 98%;
    border-radius: 20px;
    padding: 1rem 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#questions-underline {
    background: linear-gradient(var(--black), #3f0359);
}

#questions-count {
    margin: 0.050rem 0 0 0;
    padding-left: 2px;
    color: #3f0359;
}

#question {
    font-weight: bold;
    font-size: 0.8rem;
    padding-left: 5px;
    color: #3f0359;
    margin: 0;
}



#answers {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: solid 2px white;
}

#character-image {
    width: 53%;
    height: 170px;
    margin-top: 83px;
    padding-top: 3px;
    border: solid 1px var(--black);
    background: linear-gradient(var(--black), var(--mid-blue), var(--black));
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#character-image img {
    width: 100%;
}



#answer-options {
    width: 47%;

}

#answer-options ul {
    display: flex;
    flex-direction: column;


}

#answer-options ul li {
    margin: 8px 0;

}

input[type="radio"] {
    appearance: none;

}

input[type="radio"]+label,
#play-again .btn {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 0.500em;
    background: linear-gradient(var(--black), var(--mid-blue));
    color: var(--white);
    text-shadow: 0 1px 2px var(--black);
    border: solid 1px var(--white);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

input[id="white-rabbit"]+label {
    font-size: 0.9rem;
    padding-top: 14px;
}



input[type="radio"]:checked+label {
    background: linear-gradient(var(--black), var(--white));
    color: var(--black);
    text-shadow: 0 1px 2px var(--accent);
    border: solid 1px var(--black);
    font-weight: bold;


}

#home-next-buttons {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

#home-next-buttons button {
    background: linear-gradient(#3f0359, var(--black));
    color: var(--white);
    text-shadow: 0 1px 2px var(--black);
    letter-spacing: 1px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/**********USERS SCORE OVERLAY****************/


.red-pill-two {
    color: #dc143c;
    font-size: 1.2rem;
    margin-top: 10px;
}

#characters-known,
#characters-unknown {
    font-size: 1.2rem;
}



#knownUl,
#unknownUl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#knownUl li,
#unknownUl li {
    width: 128px;
    height: 128px;
    margin: 5px;
    border: solid var(--black) 1px;
    padding: 0.075rem;
}



/***********PLAY Again Overlay*****************/
#overlayPlayAgain {
    padding-bottom: 20px;
}

#play-again {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#question-play-again {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 40px;
}

#play-again .btn {
    width: 42%;
    margin: 52px 5px 20px;
    align-self: center;
    font-size: 1.2rem;
}

.hide {
    display: none;
}

/***************************************************
               Media Queries

******************************************************/

/*****TABLET PORTRIAT*************/
@media (min-width: 768px) {

    /****OVERLAY HOME***********/
    #movie-poster,
    #quiz-poster,
    .poster-questions {
        width: 600px;
        margin: 0 auto;
    }

    #welcome-text {
        font-size: 1.1rem;
        line-height: 25px;
    }

    .btn-home {
        font-size: 1.5rem;
    }

    /*******ENTRY CONTROLS CONTAINER***********/
    #quiz {
        font-size: 2rem;

    }

    .img-underline {
        left: 15px;
    }

    #controls {
        width: 450px;
        margin: 0 auto;
    }


    input[type="text"],
    .btn-entry {
        font-size: 1.4rem;
    }

    /*********GAME CONTAINER*******************/

    #game-container {
        max-width: 723px;
    }

    #matrix-quiz {
        font-size: 3rem;
        margin: 0;
    }

    .poster-questions {
        margin: 0;
        margin-left: auto;
    }

    .img-underline-game {
        left: 25px;
    }

    #question {
        font-size: 1.4rem;
    }


    #character-image {
        height: 0;
        margin-top: 0;
        width: 50%;
        max-width: 500px;
    }

    #answer-options {
        width: 50%;
        max-width: 350px;
    }

    input[type="radio"]+label {
        font-size: 1.3rem;
    }

    #homeBtn,
    #nextBtn {
        font-size: 2rem;
    }

    /**********USERS SCORE**********************/

    #users-score {
        max-width: 750px;
    }


    #congratsText {
        font-size: 1.5rem;
        line-height: 30px;
        margin-top: -10px;
    }

    #knownUl #unknownUl {
        max-width: 700px;
        margin: 0 auto;
    }

    #knownUl li,
    #unknown li {
        width: 100px;
        height: 100px;
        margin: 3px;
    }


    #characters-known #characters-unknown {
        font-size: 1.5rem;
    }

    /**************OVEERLAYS INFO*********************/

    #overlay-how-to-play,
    #overlayPlayAgain {
        top: 30%;
        left: 7%;
    }

    #overlayPlayAgain {
        max-width: 700px;
        left: 36px;

    }

    #users-score {
        top: 75px;
    }

    #overlay-how-to-play {
        top: 140px;
        left: 7%;

    }

    #how-to-play-head-list {
        margin-top: 10px;
    }

    #how-to-title {
        font-size: 2rem;
    }


    #how-to-play-ul {
        font-size: 1.5rem;
        line-height: 40px;
    }



    #how-to-play-ul li {
        margin-top: 25px;
        margin-left: 20px;
    }

    #end-how-to-play {
        font-size: 1.3rem;
        line-height: 40px;
        width: 98%;

    }


    #overlayPlayAgain {
        top: 350px;

    }

    #question-play-again {
        font-size: 2rem;
        margin-top: 40px;
    }

    #play-again .btn {
        width: 48%;
        font-size: 2.5rem;
    }


}

@media (min-width: 1024px) {

    /******Overlay Home*********/
    #movie-poster {
        max-width: 375px;
    }

    /*****Entry Controls Container*******/
    #quiz-poster {
        max-width: 400px;
    }


    /**********OVERLAYS******************/
    /**HOW TO PLAY**/
    #overlay-how-to-play {
        top: 50px;
        left: 3%;
    }

    #how-to-title {
        font-size: 2.5rem;
    }

    #how-to-play-ul {
        font-size: 1.6rem;
        line-height: 35px;
        margin-left: 20px;
    }

    .close {
        width: 45px;
        height: 45px;
        font-size: 1.5rem;
        padding: 10px;
    }

    /****Home or Play Agaian********/
    #overlayPlayAgain {
        max-width: 950px;
        top: 237px;
        left: 36px;

    }

    /**********Game Container**********************/
    #game-container {

        margin: 40px auto;
        max-height: 760px;
        max-width: 960px;
        margin-left: 5px;
    }

    #matrix-quiz {
        margin-top: -14px;
        margin-bottom: 0;

    }

    #question-numbers,
    .poster-questions {
        max-height: 250px;

    }

    .poster-questions {
        max-width: 468px;

    }

    .img-underline-game {
        left: 18px;
        bottom: -19px;
    }


    #answers {
        /* border: solid 2px greenyellow; */
        max-height: 300px;
        justify-content: space-between;
    }

    #answer-options {
        /* border: solid rgb(212, 14, 226) 1px; */
        max-width: 950px;
    }

    #answer-options ul {
        margin: 0;

    }


    #answer-options ul li {
        margin: 2px 0;

    }



    #character-image {
        max-width: 240px;
        margin-left: 88px;

    }

    #home-next-buttons {
        margin-top: -42px;
        max-width: 400px;
        margin-left: 6px;

    }

    #play-again .btn {
        max-width: 400px;
        font-size: 2.5rem;
        margin: 52px auto 20px;
    }

    #question-play-again {
        font-size: 4rem;
        margin-top: 40px;
    }


    /*********OVERLAYS****************/
    /**SCORE RESULTS****/
    #users-score {
        top: 5px;
        max-width: 980px
    }

    #knownUl #unknownUl {
        max-width: 950px;
        margin: 0 auto;
    }
}


@media (min-width: 1300px) {

    /****GAME CONTAINER AND NESTED ELEMENTS*********/
    #game-container {
        max-width: 1200px;
        max-height: 820px;
        margin-left: 0;
        margin: 50px auto;
    }

    /***USERS SCORE OVERLAY********/
    #users-score,
    #overlayPlayAgain,
    #overlay-how-to-play {
        position: relative;
        top: 0;
        left: 0;
    }

    #overlay-how-to-play {
        max-width: 1300px;
        height: 820px;
        margin: 0 auto;
        transform: translateY(-702px);
        -webkit-transform: translateY(-702px);
        -moz-transform: translateY(-702px);
        -ms-transform: translateY(-702px);
        -o-transform: translateY(-702px);
    }

    #end-how-to-play {
        width: 100%;
    }

    #users-score {
        max-width: 1250px;
        margin: 50px auto;

    }


    #overlayPlayAgain {
        max-width: 1000px;
        margin: 250px auto;

    }

}