* {
    box-sizing: border-box;
}

:root {
    --white: #FDFCF7;
    --black: #0A0E19;
    --accent: #4BE9FB;
    --mid-blue: #3FA1BF;
}


body {
    font: 1em/1.5 fira-code, sans-serif;
    background: url(../images/bg-matrix.webp), no-repeat;
    background-size: cover;
}


img {
    width: 100%;
}

/*Link to matrix imported font*/
@font-face {
    font-family: 'matrix';
    src: url('../fonts/matrix-webfont.woff2') format('woff2'),
        url('../fonts/matrix-webfont.woff') format('woff'),
        url('../fonts/matrix-webfont.ttf') format('truetype'),
        url('../fonts/matrix-webfont.svg#matrixmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


#overlay-home {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    color: white;
    z-index: 2;
    padding-top: 1px;
}


#overlay-how-to-play,
#overlay-leader-board,
#game-container,
#user-score,
#overlayPlayAgian {
    width: 99%;
    margin: 50% auto;
    background: #e4d105;
    color: #000;

}

#game-container {
    position: absolute;
    top: 0;
    background: black;
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#answers {
    display: flex;
    width: 80%;
    margin: 10px auto;
    border: solid 2px white;
}

#character-image {
    width: 25%;
}

#knownUl li,
#unknownUl li {
    width: 150px;
}


.hide {
    display: none;
}